<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homie OTA</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/vue-snotify-material.css">
</head>

<body style="background-color:rgb(239,83,80);">
    <div id="wrapper"><vue-snotify></vue-snotify>

        <div id="sidebar-wrapper" style="background-color:rgb(252,252,252);margin-top:-5px;box-shadow: 0 2px 4px rgba(0,0,0,0.4);">
            <h1 class="text-center" style="margin-top:20px;color:rgb(239,83,80);">Firmwares &nbsp;<i class="material-icons text-success" v-on:click="showModal('#firmware-upload-modal')">note_add</i></h1>
            <div v-for="firmware in firmwares">
                <div class="card" style="margin-right:10px;margin-left:10px;margin-bottom:10px;">
                    <div class="card-body">
                        <h4 class="card-title">&lt;&lt; firmware.firmware &gt;&gt; &nbsp;<span class="badge badge-primary">&lt;&lt; firmware.version &gt;&gt;</span></h4>
                        <h6 class="text-muted card-subtitle mb-2">&lt;&lt; firmware.filename &gt;&gt;</h6><em>&lt;&lt; firmware.description &gt;&gt;</em>
                        <div class="row">
                            <div class="col-md-3"><span>Size</span></div>
                            <div class="col-md-9"><span>&lt;&lt; firmware.size &gt;&gt;</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content-wrapper" style="background-color:rgba(241,247,252,0);">
            <div class="container-fluid">
                <div class="modal fade" role="dialog" tabindex="-1" id="firmware-upload-modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Upload new firmware</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-3"><span>File</span></div>
                                    <div class="col-9"><input type="file" name="upload" id="firmware-new-file"></div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-3"><span>Description</span></div>
                                    <div class="col"><input class="form-control-sm" type="text" name="description" id="new-firwmare-description" style="width:100%"></div>
                                </div>
                            </div>
                            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button" v-on:click="uploadFirmware()">Save</button></div>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="padding:10px;margin:0px;margin-bottom:10px;padding-right:0px;padding-left:0px;margin-top:5px; box-shadow: 0 2px 4px rgba(0,0,0,0.4);">
                    <div class="container" style="max-width:100%"><a class="navbar-brand" href="#" style="padding-bottom:0px;padding-top:0px;"><img src="assets/img/homie.png" style="height:50px;"><span>Homie OTA</span></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"
                            style="margin-right:10px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="margin-right:1px;"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item" role="presentation"><a class="nav-link" id="menu-toggle"><i class="fa fa-flask" style="margin-right:5px;"></i>Firmwares</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-search" style="margin-right:5px;"></i>Logs</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link text-danger" href="/logout"><i class="fa fa-sign-out" style="margin-right:5px;"></i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="row">
                    <div class="col-xl-3 collapse" id="sidebar"><span>Text</span></div>
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-md-6 col-lg-5 col-xl-4" v-for="device in devices" style="margin-bottom:15px;">
                                <div class="card">
                                    <div class="card-body" style="padding-bottom:10px;">
                                        <div class="row">
                                            <div class="col-sm-8 col-xl-9" style="height:20px;">
                                                <div class="dropdown"><a class="btn btn-link dropdown-toggle menu" data-toggle="dropdown" aria-expanded="false" role="button" href="#" style="padding-right:0px;padding-left:0px;padding-top:0px;">&lt;&lt; device.name &gt;&gt;</a>
                                                    <div
                                                        class="dropdown-menu dropdown-menu-left" role="menu" style="margin-top:-6px;"><a class="dropdown-item" role="presentation" href="#" v-show="device.ota"><i class="fa fa-cloud-download text-primary" style="font-size:25px;margin-right:5px;" v-show="device.ota"></i>Update</a><a class="dropdown-item"
                                                            role="presentation" href="#"><i class="fa fa-search-plus" style="font-size:25px;margin-right:5px;"></i>Show More</a><a class="dropdown-item" role="presentation" href="#"><i class="fa fa-trash text-danger" style="font-size:25px;margin-right:5px;"></i>Delete</a></div>
                                            </div>
                                            <h4></h4>
                                        </div>
                                        <div class="col-sm-4 col-xl-3" style="margin-top:6px;"><span class="badge badge-pill badge-danger" v-if="device.online == &quot;false&quot;">OFFLINE</span>
                                            <div class="progress" v-else="" style="height:14px;/*width:63px;*/font-size:13px;">
                                                <div class="progress-bar progress-bar-animated" v-bind:aria-valuenow="device.signal" aria-valuenim="0" aria-valuemax="100" v-bind:style="{width: device.signal +'%'}" v-bind:class="{'bg-danger': device.signal<30, 'bg-warning':device.signal>=30 &amp; device.signal<80, 'bg-success':device.signal>=80}"><span v-show="device.signal>40">&lt;&lt; device.signal &gt;&gt;%</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="text-muted card-subtitle mb-2" style="margin-top:0;">&lt;&lt; device.fwname &gt;&gt; &nbsp;<span class="badge badge-primary">v&lt;&lt; device.fwversion &gt;&gt;</span><br></h6>
                                    <div class="row" id="device">
                                        <div class="col-sm-6 col-md-5 col-lg-5 col-xl-5"><i class="fa fa-cube" style="margin-right:5px;"></i><span>Device</span></div>
                                        <div class="col-11 col-sm-6 col-md-7 offset-1 offset-sm-0"><span>&lt;&lt; device.device &gt;&gt;</span></div>
                                    </div>
                                    <div class="row" id="uptime">
                                        <div class="col-sm-6 col-md-5 col-lg-5"><i class="fa fa-clock-o" style="margin-right:5px;"></i><span>Up-time</span></div>
                                        <div class="col-11 col-sm-6 col-md-7 offset-1 offset-sm-0"><span>&lt;&lt; device.human_uptime &gt;&gt;</span></div>
                                    </div>
                                    <div class="row" id="ip">
                                        <div class="col-sm-6 col-md-5"><i class="fa fa-sitemap" style="margin-right:5px;"></i><span>IP</span></div>
                                        <div class="col-11 col-sm-6 col-md-7 offset-1 offset-sm-0"><span>&lt;&lt; device.localip &gt;&gt;</span></div>
                                    </div>
                                    <div class="row" id="wifi">
                                        <div class="col-sm-6 col-md-5"><i class="fa fa-wifi" style="margin-right:5px;"></i><span>SSID</span></div>
                                        <div class="col-11 col-sm-6 col-md-7 offset-1 offset-sm-0"><span>&lt;&lt; device.wifi_ssid &gt;&gt;</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/Sidebar-Menu.js"></script>
    <script src="assets/js/vue-snotify.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>